@keyframes skeleton {
  100% {
    transform: translateX(100%);
  }
}

.root {
  background: #f3f3f3;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.root::after {
  content: "";
  display: block;
  position: absolute;
  transform: translateX(-100%);
  background: #e8e8e8;
  animation: skeleton 1s infinite;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
