.root {
  list-style: none;
  transition: all 200ms ease-in-out;
  background: transparent;
  border-bottom: 1px dashed var(--color-primary);
}

.root:hover {
  background-color: rgba(0, 255, 255, 0.34);
}
