.root {
  background: red;
}

.XS {
  font-size: 10px;
  line-height: 16px;
  margin-top: 8px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}

.L {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: var(--color-primary);
}

.M {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: var(--color-primary);
}

.XXL {
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: -1.9px;
  color: var(--color-primary);
}

.capitalize {
  text-transform: capitalize;
}
