.root {
  display: flex;
  justify-content: space-between;
  border-top: 1px hsla(0, 0%, 9%, 0.9) solid;
}

.label {
  font-size: 10px;
  line-height: 16px;
  margin-top: 8px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: hsla(0, 0%, 9%, 0.9);
}

.symbol {
  font-size: 10px;
  line-height: 16px;
  position: relative;
  margin-top: 8px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: hsla(0, 0%, 9%, 0.9);
}
