name: synonymes
on:
  schedule:
    - cron: "*/1 * * * *"
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call our API route
        run: |
          curl --request GET \ --url 'https://synonyma.vercel.app/api/cron/synonymes' \
